
<!DOCTYPE HTML>
<html>
<head>
<title>AdRENTure Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/assets/assets_admin/js/jquery-1.11.1.min.js"></script>
<!-- Bootstrap Core CSS -->
<link href="/assets/assets_admin/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/assets/assets_admin/css/bootstrap-datetimepicker.min.css" rel='stylesheet' type='text/css' />
<link href="/assets/assets_admin/css/jquerysctipttop.css" rel='stylesheet' type='text/javascript' />
<!-- Custom CSS -->
<link href="/assets/assets_admin/css/style.css" rel='stylesheet' type='text/css' />
<!-- font-awesome icons CSS -->
<link href="/assets/assets_admin/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons CSS-->
<!-- side nav css file -->
<link href='/assets/assets_admin/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
<!-- //side nav css file -->
 <!-- js-->
<script src="/assets/assets_admin/js/modernizr.custom.js"></script>
<script src="/assets/assets_admin/js/moment.min.js" type="text/javascript"></script>
<script src="/assets/assets_admin/js/bootstrap.js"> </script>
<script src="/assets/assets_admin/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/assets_admin/js/proper.min.js"></script>
<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<!--//webfonts-->
<!-- chart -->
<script src="/assets/assets_admin/js/Chart.js"></script>
<!-- //chart -->
<!-- Metis Menu -->
<script src="/assets/assets_admin/js/metisMenu.min.js"></script>
<script src="/assets/assets_admin/js/custom.js"></script>
<link href="/assets/assets_admin/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>

<body>
<div  class="">
    <div id="page-wrapper">
        <div class="main-page">
            <div class="row">
                {% if bd %}
                <div class="col-xs-6">
  <h1>
    <a>
      <img  src="/assets/img/logo.png">
    </a>
  </h1>
</div>
                    <div class="col-xs-6 text-right">
                      <h1>INVOICE</h1>
                      <h1><small> #{{ bd.invoice }}</small></h1>
                        <h1><small> {{ bd.booking_date }}</small></h1>
                    </div>
                    <hr>

    		        <div class="row">
                        <br><br><br>
                        <div class="col-xs-5">
                          <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h4>Seller : <a href="#"> {{ bd.seller_detail }}</a></h4>
                                  </div>
                                  <div class="panel-body">
                                    <p>
                                      Contact:  +(91) 7508001801
                                    </p>
                                  </div>
                                </div>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>User : <a href="#">{{ bd.user_detail }}</a></h4>
                          </div>
                          <div class="panel-body">
                              <p>
                                  Contact:  +(91) {{ bd.user_detail.user_mobile }}
                              </p>
                          </div>
                        </div>
                        </div>
                    </div>

                 <form method="POST" enctype="multipart/form-data" class="form-horizontal">


                    <div class="form-group has-success">
                        <label class="col-md-2 control-label">Pick-Up Date-Time</label>
                        <div class="col-md-8">
                            <div class="input-group input-icon right">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input readonly name="start_date" class="form-control1" value="{{ bd.start_date }}" type="text" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-success ">
                        <label class="col-md-2 control-label">Return Date-Time</label>
                        <div class="col-md-8">
                            <div class="input-group input-icon right">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input readonly name="end_date" class="form-control1" value="{{ bd.end_date }}" type="text" >
                            </div>
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-8">
                            <div class="input-group input-icon right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-car"></i>
                                        </span>
                            <input type="text" readonly class="form-control1" name="vehicle_category" value="{{ bd.vehicle_info.vehicle_id.vehicle_category_name }}">
                            </div></div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label">Vehicle Name</label>
                        <div class="col-sm-8">
                            <div class="input-group input-icon right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-car"></i>
                                        </span>
                            <input type="text" class="form-control1" readonly name="vehicle_name" value="{{ bd.vehicle_info.company_id.company_name}} {{ bd.vehicle_info.vehicle_name }}" >
                            </div></div>
                    </div>
                        <br/><br/>
                    <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Billed Amount</label>
                            <div class="col-md-3 ml-auto text-justify">
                                <table class="table " >
                                    <thead class="thead-dark">
                                        <tr>

                                    <td>Security</td>
                                    <td>Rs. 10,000/-</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                    <td>Expected Pay</td>
                                    <td>Rs. {{ bd.amount_exp }}/-</td>

                                    </tr>
                                    <tr>

                                    <td>Total Amount</td>
                                    <td>Rs. {{ bd.total }}/-</td>
                                    </tr>
                                    <tr>

                                    </tbody>
                                </table>
                            </div>
                     </div>


                    <div class="form-group">
                        <div class="control-label col-sm-7">
                        <button  type="button" onclick="invoice_print()" class="btn btn-default">Save Invoice</button>
                            <a href="/"><button  type="button"  class="btn btn-default">Go To Home</button></a>
                        </div>
                    </div>


                </form>


                <br><br><br><br>
                <div class="row">
            <div class="col-xs-7">
    <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Bank details</h4>
  </div>
  <div class="panel-body">
    <p>Your Name</p>
    <p>Bank Name</p>
    <p>Account Number : 12345678</p>

  </div>
</div>
                    </div>

                    <div class="col-xs-7">
                        <div class="span7">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4>Contact Details</h4>
                        </div>
                        <div class="panel-body">
                          <p>
                              Email : vishavmahajan96@gmail.com <br><br>
                              Mobile : +91 7508001801 <br> <br>
                              Click <a href="/contact"> here</a> to Write your Query

                          </p>
                            <h4><small>HAppy To Help</small></h4>
    </div>
  </div>
</div>
  </div>
                </div>

                {% elif bd_new%}

                <div class="col-xs-6">
  <h1>
    <a>
      <img  src="/assets/img/logo.png">
    </a>
  </h1>
</div>
                    <div class="col-xs-6 text-right">
                      <h1>INVOICE</h1>
                      <h1><small> #{{ bd_new.invoice }}</small></h1>
                        <h1><small> {{ bd_new.booking_date }}</small></h1>
                    </div>
                    <hr>

    		        <div class="row">
                        <br><br><br>
                        <div class="col-xs-5">
                          <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h4>Seller : <a href="#"> {{ bd_new.seller_detail }}</a></h4>
                                  </div>
                                  <div class="panel-body">
                                    <p>
                                      Contact:  +(91) 7508001801
                                    </p>
                                  </div>
                                </div>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4>User : <a href="#">{{ bd_new.user_detail }}</a></h4>
                          </div>
                          <div class="panel-body">
                              <p>
                                  Contact:  +(91) 7973090319
                              </p>
                          </div>
                        </div>
                        </div>
                    </div>

                 <form method="POST" enctype="multipart/form-data" class="form-horizontal">


                    <div class="form-group has-success">
                        <label class="col-md-2 control-label">Pick-Up Date-Time</label>
                        <div class="col-md-8">
                            <div class="input-group input-icon right">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input readonly name="start_date" class="form-control1" value="{{ bd_new.start_date }}" type="text" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-success ">
                        <label class="col-md-2 control-label">Return Date-Time</label>
                        <div class="col-md-8">
                            <div class="input-group input-icon right">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input readonly name="end_date" class="form-control1" value="{{ bd_new.end_date }}" type="text" >
                            </div>
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-8">
                            <div class="input-group input-icon right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-car"></i>
                                        </span>
                            <input type="text" readonly class="form-control1" name="vehicle_category" value="{{ bd_new.vehicle_info.vehicle_id.vehicle_category_name }}">
                            </div></div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label">Vehicle Name</label>
                        <div class="col-sm-8">
                            <div class="input-group input-icon right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-car"></i>
                                        </span>
                            <input type="text" class="form-control1" readonly name="vehicle_name" value="{{ bd_new.vehicle_info.company_id.company_name}} {{ bd_new.vehicle_info.vehicle_name }}" >
                            </div></div>
                    </div>
                        <br/><br/>
                    <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Billed Amount</label>
                            <div class="col-md-3 ml-auto text-justify">
                                <table class="table " >
                                    <thead class="thead-dark">
                                        <tr>

                                    <td>Security</td>
                                    <td>Rs. 10,000/-</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                    <td>Expected Pay</td>
                                    <td>Rs. {{ bd_new.amount_exp }}/-</td>

                                    </tr>
                                    <tr>

                                    <td>Total Amount</td>
                                    <td>Rs. {{ bd_new.total }}/-</td>
                                    </tr>
                                    <tr>

                                    </tbody>
                                </table>
                            </div>
                     </div>


                    <div class="form-group">
                        <div class="control-label col-sm-6">
                        <button  type="button" onclick="invoice_print()" class="btn btn-default">Save Invoice </button>
                            <a href="/"><button  type="button"  class="btn btn-default">Go To Home</button></a>



                        </div>
                    </div>


                </form>


                <br><br><br><br>
                <div class="row">
            <div class="col-xs-7">
    <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Bank details</h4>
  </div>
  <div class="panel-body">
    <p>Your Name</p>
    <p>Bank Name</p>
    <p>Account Number : 12345678</p>

  </div>
</div>
                    </div>

                    <div class="col-xs-7">
                        <div class="span7">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4>Contact Details</h4>
                        </div>
                        <div class="panel-body">
                          <p>
                              Email : vishavmahajan96@gmail.com <br><br>
                              Mobile : +91 7508001801 <br> <br>
                              Click <a href="/contact"> here</a> to Write your Query

                          </p>
                            <h4><small>HAppy To Help</small></h4>
    </div>
  </div>
</div>
  </div>
                </div>

    {% endif %}

</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function invoice_print()
    {
    window.print();
    };

</script>
</body>
</html>



