{% extends "admin_master.html" %}



{% block admin %}
<div class="profile_details">
    <ul>
        <li class="dropdown profile_details_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                    <span class="prfil-img"><img src="/media/admin.jpg" height="50" width="50" style="object-fit: fill" alt=""> </span>
                    <div class="user-name">
                        <h5 class="text-uppercase">Name</h5>
                        <span class="text-uppercase">USER</span>
                    </div>
                    <i class="fa fa-angle-down lnr"></i>
                    <i class="fa fa-angle-up lnr"></i>
                    <div class="clearfix"></div>
                </div>
            </a>
            <ul class="dropdown-menu drp-mnu">
                <li> <a href="/profileupdate"><i class="fa fa-suitcase"></i> Profile</a> </li>
                <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}



{% block content %}
		<!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <h2 class="title1">Dashboard</h2>
            <div class="panel1 variations-panel">
                <div class="panel-body mtn">
                    <div class="col-adjust-10">
                        <div class="row">
                            <div class="col-xl-12 agileits-bnt">
                            <ul class="bt-list btn-lg" >
                                <li><a href="/" class="hvr-icon-fade col-1" >Home</a></li>
                                <li><a href="/update" class="hvr-icon-drop col-7">Update Profile </a></li>
                                <li><a href="/show_bookings" class="hvr-icon-buzz-out col-6">Bookings</a></li>

                                <li><a href="/queries" class="hvr-icon-pop col-15">MY Queries</a></li>
                                <li><a href="/changepassword" class="hvr-icon-fade col-5">Change Password</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

		
	<!-- new added graphs chart js-->


{% endblock %}