{% extends "admin_master.html" %}
{% block content %}






    <div id="page-wrapper">
			<div class="main-page">
                    <div class="row">
						<h3 class="title1">Booking Details</h3>
						<div class="form-three widget-shadow">
							<form method="POST" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}
    {% if valid %}
        <script>alert("Submitted")</script>
        <h3>Booking Done</h3>
{% elif invalid %}
    <script>alert("Invalid , Not Submitted")</script>
    <h3>Enter Again</h3>
{% endif %}


                                    <div class="form-group">
									<label class="col-sm-2 control-label">Pick-Up Date</label>
									<div class="col-sm-8">
										<input readonly type="text" class="form-control1" value="{{ sd }}" name="start_date" placeholder="Enter Name">
									</div>
                                    </div>
                                    <div class="form-group">
									<label class="col-sm-2 control-label">Return Date</label>
									<div class="col-sm-8">
										<input readonly type="text" class="form-control1" name="end_date" value="{{ ed }}" placeholder="Enter Name">
                                    </div></div>

                            <div class="form-group">
									<label class="col-sm-2 control-label">Select Time</label>
									<div class="col-sm-4">
										<input type="text" class="form-control1" name="start_time"  placeholder="Start Time">
                                    </div>
                                <div class="col-sm-4" >
										<input type="text" id="end_time" class="form-control1" name="end_time"  placeholder="End Time">

                                    </div>
                            </div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Vehicle Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" name="vehicle_name" value="{{ ud.company_id.company_name }} {{ ud.vehicle_name }}" placeholder="Enter Name">
									</div>


								</div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-8">
										<input disabled="" type="email" class="form-control1" name="u_email" placeholder="{{ request.session.email }}">
									</div>
                                </div>








                            <div class="form-group">
                                    <label class="col-sm-2 control-label">Price</label>
                                    <div class="col-sm-8">
										<input type="number" class="form-control1" name="vehicle_price" placeholder="Price" required>
									</div>
                                </div>


								<div class="form-group">
									<label class="col-sm-2 control-label">Description</label>
									<div class="col-sm-8"><input type="text" name="vehicle_description" value="{{ ud.vehicle_description }}" readonly  id="vehicle_description" cols="50" rows="4" class="form-control1"></div>
								</div>
                             <div class="form-group">
                                    <label class="col-sm-2 control-label">Security (Rs.)</label>
                                    <div class="col-sm-8">
										<input type="text" class="form-control1" name="security" value="Rs. 10000/-" readonly>
									</div>
                                </div>

                                <!--<div class="form-group">
                                    <label class="col-sm-2 control-label">Image</label>
                                    <input class="col-sm-8" type="file" name="vehicle_image" id="vehicle_image" required>
                                </div>-->
                                <div class="form-group">
                                    <div class="control-label col-sm-6">
                                <button  type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
            </div></div>

    <script>
    $("#end_date").timepicker();
    </script>
{% endblock %}



