{% extends 'master.html' %}


{% block content %}
<section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Eligibility</h2>
                        <span class="title-line"><i class="fa fa-file"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
<br>


<div class="jumbotron">
<div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">

                <div class="text-info text-center mt-3"><p>Customer should be 24 year and older to book Mercedes A Class, Mercedes GLA, Mercedes CLA, Audi Q3, Toyota Fortuner, Ford Endeavour, else booking will be cancelled
</p></div>

            </div>
        </div>
    <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">

                <div class="text-info text-center mt-3"><p>Members must be 18 years of age or older</p></div>

            </div>
        </div>
    <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">

                <div class="text-info text-center mt-3"><p>Member must possess a valid Light Motor Vehicle (Non Transport) Indian license and Aadhar card
</p></div>

            </div>
        </div>
    <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">

                <div class="text-info text-center mt-3"><p>Payments are only accepted through credit card, debit card or net banking
</p></div>

            </div>
        </div>

</div>





<!--div class="container">
<div class="row">

<div class="tab-pane active" id="eligibility" role="tabpanel">
<div class="static">

<div class="row">
<div class="col-md-4">
<div class="t-c border-c solid p-20 eligibility">
<div class="el-icon" id="el1"></div>
<div class="m-b20">
Customer should be 24 year and older to book Mercedes A Class, Mercedes GLA, Mercedes CLA, Audi Q3, Toyota Fortuner, Ford Endeavour, else booking will be cancelled
</div>
</div>
</div>
<div class="col-md-4">
<div class="t-c border-c solid p-20 eligibility">
<div class="el-icon" id="el2"></div>
<div class="m-b20">
Members must be 18 years of age or older
</div>
</div>
</div>
<div class="col-md-4">
<div class="t-c border-c solid p-20 eligibility">
<div class="el-icon" id="el3"></div>
<div class="m-b10">
Member must possess a valid Light Motor Vehicle (Non Transport) Indian license and Aadhar card
</div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-md-4">
<div class="t-c border-c solid p-20 eligibility">
<div class="el-icon" id="el5"></div>
<div class="m-b20">
Members must have had no alcohol or drug related driving violations in the past seven years
</div>
</div>
</div>
<div class="col-md-4">
<div class="t-c border-c solid p-20 eligibility">
<div class="el-icon" id="el6"></div>
<div class="m-b20">
Payments are only accepted through credit card, debit card or net banking
</div>
</div>
</div>
<div class="col-md-4">
<div class="t-c border-c solid p-20 eligibility">
<div class="el-icon" id="el7"></div>
<div class="m-b20">
There is no minimum amount of time that an individual must hold a license before becoming a member or reserving a AdRENTure vehicle
</div>
</div>
</div>
</div>
</div>

</div-->

{% endblock %}