{% extends "master.html" %}
{% block content %}
    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Team Members</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Help Desk Page Content Start ==-->
    <section id="help-desk-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-content">
                        <div class="row">
                            <!-- Team Tab Menu start -->
                            <div class="col-lg-4">
                                <div class="team-tab-menu">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/assets/img/team/team-men-11-thumb.png" alt="JSOFT">
                                                </div>
                                                <h5>Vishavjeet Mahajan</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/assets/img/team/team-mem-thumb-31.png" alt="JSOFT">
                                                </div>
                                                <h5>Palki Nangla</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/assets/img/team/team-mem-thumb-2.png" alt="JSOFT">
                                                </div>
                                                <h5>Ankita Sharma</h5>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- Team Tab Menu End -->

                            <!-- Team Tab Content start -->
                            <div class="col-lg-8">
                                <div class="tab-content" id="myTabContent">
                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/assets/img/team/team-men-11.png" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Vishavjeet Mahajan</h4>
                                                    <h5>Founder & M.D.</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Success is the child of Drudgery and Perseverance. It cannot be coaxed or bribed; pay the price and it is yours.</p>
                                                    <div class="team-social-icon">
                                                        <a target="_blank" href="https://www.facebook.com/i.vishav"><i class="fa fa-facebook"></i></a>
                                                        <a target="_blank" href="https://www.instagram.com/vishav_mahajan_/"><i class="fa fa-instagram"></i></a>
                                                        <a target="_blank" href="https://in.linkedin.com/in/vishavjeet-mahajan"><i class="fa fa-linkedin"></i></a>
                                                        <a target="_blank" href="https://snapchat.com/vishavmahajan"><i class="fa fa-snapchat"></i></a>
                                                        <a target="_blank" href="https://github.com/vishav-mahajan"><i class="fa fa-github"></i></a>


                                                    </div><br>
                                                    <p><b><i class="fa fa-mobile"></i> +91 7508001801</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->

                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/assets/img/team/team-mem-31.png" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Palki Nangla</h4>
                                                    <h5>Co founder & CTO</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>The Identity of one changes with how one percieves Reality .</p>
                                                    <div class="team-social-icon">
                                                        <a target="_blank" href="https://www.facebook.com/palki.nangla"><i class="fa fa-facebook"></i></a>
                                                        <a target="_blank" href="https://www.instagram.com/palki13o6/"><i class="fa fa-instagram"></i></a>
                                                        <a target="_blank" href="https://github.com/PalkiNangla"><i class="fa fa-github"></i></a>

                                                    </div><br>
                                                    <p><b><i class="fa fa-mobile"></i> +91 8894526047</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->

                                    <!-- Single Team  start -->
                                    <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/assets/img/team/team-mem-2.png" alt="JSOFT">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Ankita Sharma</h4>
                                                    <h5>Co founder & CEO</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>The only true Affluent are those who do not want more than they have.</p>
                                                    <div class="team-social-icon">
                                                        <a target="_blank" href="https://www.instagram.com/ankitasharma03/"><i class="fa fa-instagram"></i></a>
                                                        <a target="_blank" href="#"><i class="fa fa-snapchat"></i></a>
                                                        <a target="_blank" href="https://github.com/03ankita"><i class="fa fa-github"></i></a>

                                                    </div><br>
                                                    <p><b><i class="fa fa-mobile"></i> +91 8628003936</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Team  End -->


                                </div>
                            </div>
                            <!-- Team Tab Content End -->
                        </div>
                    </div>
                </div>
        	</div>
        </div>
    </section>
    <!--== Help Desk Page Content End ==-->

    {% endblock content %}