{% extends 'master.html' %}

{% block content %}
    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>User Login</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p></p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Login Page Content Start ==-->
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 m-auto">
                	<div class="login-page-content">
                		<div class="login-form">
                			<h3>Welcome Back!</h3>
							<form  method="post">
                                {% csrf_token %}

                                {% if inserted %}
                                <script>alert('data inserted')</script>
                                {% endif %}

								<div class="username">
									<input type="text"  id="user_email" name="user_email" placeholder="Email or Username">
								</div>
								<div class="password">
									<input type="password" id="user_password" name="user_password" placeholder="Password">
								</div>
								<div class="log-btn">
									<button type="submit"><i class="fa fa-sign-in" ></i> Log In</button>
								</div>
							</form>
                		</div>
                		

                		<div class="create-ac">
                			<p>Don't have an account? <a href={% url "front_app:register" %}>Sign Up</a></p>
                		</div>

                	</div>
                </div>
        	</div>
        </div>
    </section>
    <!--== Login Page Content End ==-->

{% endblock content %}