{% extends 'master.html' %}


{% block content %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Sign up</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Login Page Content Start ==-->
    <section id="lgoin-page-wrap" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-8 m-auto">
                	<div class="login-page-content">
                		<div class="login-form">
                			<h3>Sign Up</h3>
							<form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            {% if valid %}
                                <script>alert("form submit")</script>
                            {% endif %}
                            {% if invalid %}
                                <script>alert("form invalid")</script>
                            {% endif %}


								<div class="name">
									<div class="row">
										<div class="col-md-6">
											<input type="text" placeholder="First Name" name="user_fname"  pattern="[A-Za-z]{1,}" title="Enter Alphabets Only" id="user_fname" required >

										</div>
                                        <div class="col-md-6">
											<input type="text" placeholder="Last Name" name="user_lname" pattern="[A-Za-z]{1,}" title="Enter Alphabets Only">
										</div>

									</div>
								</div>
								<div class="username" aria-label="Username" aria-describedby="basic-addon1">
									<input type="email"  placeholder="Email" name="user_email" id="amf-input-user_email" value="" maxlength="255" onkeyup="if(this.length>255) this.value=this.value.substr(0,255)"required >
								</div>

								<div class="username">
									<input type="text" placeholder="Mobile" name="user_mobile" pattern="[789][0-9]{9}" required>
								</div>
                            <div class="date">
									<input type="date" placeholder="Enter D.O.B." name="user_dob" required>
								</div>
								<div class="password">
									<input type="password" id ="user_password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                           title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="user_password" required>
                                    <span toggle="#user_password" class="fa fa-fw fa-eye field-icon toggle-password text-right" style="float:left">Show_Password</span>
								</div>
                            <div class="password">
									<input type="password" id = "user_confirm_password" placeholder="Confirm Password" name="user_confirm_password" >
                                <span id='message'></span>
								</div>
                            <div class="form-group text-left" >


                                    <label class="mr-3"><strong>Gender</strong></label>
                                        <input type="radio" class="mx-2" name="user_gender" value="Male"><label>Male</label>
                                        <input type="radio" class="mx-2" name="user_gender" value="Female"><label>Female</label>


                                </div>


                                <div class="form-group">
                                <input type="file" id="BSbtninfo" name="user_image">

                                </div>



                            <div>
                                <div class="select2-dropdown form-group">
                                    <select name="select">
                                    <option>Select Role</option>
                                    <option value="3">User</option>
                                    <option value="4">Bussiness User</option>
                                </select>

								</div>

                            </div>
                                <div class="form-group text-left" >

                                        <input type="radio" class="mx-2" required  value="1"><label >Agree To the Company Fee Policy <a href="/feepolicy" target="_blank">Click Here</a> to view</label>

                                </div>
								<div class="log-btn">
									<button type="submit" onclick="letteronly(user_fname)" id = "abc" name="submit"><i class="fa fa-check-square"></i> Sign Up</button>
								</div>
							</form>
                		</div>
                		

                		<div class="create-ac">
                			<p>Have an account? <a href="{% url 'front_app:login' %}">Sign In</a></p>
                		</div>
                	</div>
                </div>
        	</div>
        </div>
    </section>





    <!--== Login Page Content End ==-->
{% endblock content %}

{% block jquery %}
    <script>
    var password = document.getElementById("user_password");
   var confirm_password = document.getElementById("user_confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;




$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
});



    </script>

{% endblock %}


