{% extends "master.html" %}
{% block content %}


<section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                                {% if valid %}
                                <h2>You are Already Verified</h2>

                                {% endif %}
                                {% if good %}
                                <h2>Thanks For Verifying</h2>
                                {% endif %}
                                {% if nv %}
                                    <h2>Please Verify Your Account</h2>
                                    <span class="title-line"><i class="fa fa-car"></i></span>
                                    <h2><a href="verify.html">Click Here to Send Verification Link</a></h2>
                                {% endif %}
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>



{% endblock content %}