{% extends "admin_master.html" %}
{% block content %}

<div id="page-wrapper">
    <div class="main-page">
        <div class="row">
            <h3 class="title1">Return Details</h3>
            <div class="form-three widget-shadow">
                <form method="POST" enctype="multipart/form-data" class="form-horizontal bg-light">

                {% csrf_token %}
                <div class="col-xs-6">
  <h1>
    <a href="/">
      <img  src="/assets/img/logo.png">
    </a>
  </h1>
</div>
                    <div class="col-xs-6 text-right">
                        {% if bd.is_active == True and bd.is_returned == False  %}
                            <h1 style="color:green">Active</h1>
                            {% endif %}
                        {% if bd.is_active == False and bd.is_returned == True and bd.cancellation_time != ""  %}
                            <h1 style="color:Red">Booking Cancelled</h1>

                            {% endif %}
                        {% if bd.is_active == False and bd.is_returned == True and bd.cancellation_time == "" and bd.return_date != ""  %}
                            <h1 style="color:blue">Completed Successfully</h1>

                            {% endif %}
                        <a href="{% url 'front_app:invoice' %}?id={{ bd.booking_id }}" >

                            <h2>INVOICE</h2></a>

                      <h1><small> #{{ bd.invoice }}</small></h1>

                    </div>
                    <hr><br><br><br>

                                <div class="form-group has-dark">
										<label class="col-md-2 control-label">Booking Date</label>
										<div class="col-md-5">
											<div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
												<input readonly  class="form-control1" value="{{ bd.booking_date }}" type="text" >
											</div>
                                        </div></div>

                    <div class="form-group has-dark">
										<label class="col-md-2 control-label">Pick-Up Date-Time</label>
										<div class="col-md-5">
											<div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
												<input readonly name="start_date" class="form-control1" value="{{ bd.start_date }}" type="text" >
											</div>
                                        </div></div>

                    <div class="form-group has-dark">
										<label class="col-md-2 control-label">Exp Return Date-Time</label>
										<div class="col-md-5">
											<div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
												<input readonly name="end_date" class="form-control1" value="{{ bd.end_date }}" type="text" >
											</div>
                                        </div></div>
                    <div class="form-group has-error">
										<label class="col-md-2 control-label">Excess Duration</label>
										<div class="col-md-5">
											<div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
												<input readonly name="end_date" class="form-control1" value="{{ bd.extension }} Hours" type="text" >
											</div>
                                        </div></div>
                    <div class="form-group has-error">
										<label class="col-md-2 control-label">Excess Amount</label>
										<div class="col-md-5">
											<div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
												<input readonly name="ext_amount" class="form-control1" value="{{ ea }}" type="text" >
											</div>
                                        </div></div>


                    <!--div class="form-group">
                        <label class="col-sm-2 control-label">Select Time</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right " id="start_time">
												<span class="input-group-addon ml-1">
													<i class="fa fa-clock-o"></i>
												</span>

                            <input type="text" name="start_time"     placeholder="HH:MM:SS">
                            </div>
                        </div>
                        <div class="col-sm-5" >
                            <div class="input-group input-icon right" id="end_time">
												<span class="input-group-addon">
													<i class="fa fa-clock-o"></i>
												</span>
                            <input type="text"  placeholder="HH:MM:SS" name="end_time">
                            </div></div>
                    </div-->

                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">Vehicle Name</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-car"></i>
												</span>
                            <input type="text" class="form-control"  value="{{ bd.vehicle_info.company_id.company_name }} {{ bd.vehicle_info.vehicle_name }}">
                        </div>
                        </div>
                    </div>

                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">User Email</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-envelope"></i>
												</span>
                            <input readonly type="email" class="form-control1" placeholder="{{ bd.user_detail }}">
                        </div>
                        </div>
                    </div>





                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">Security (Rs.)</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="security" value="10000/- (Refundable*)" readonly>
                        </div>
                        </div>
                    </div>
                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">Vehicle Charges</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="amt" value="{{ bd.amount_exp }}/-"  readonly>
                        </div>
                        </div>
                    </div>
                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">Document Fine</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="fine_amount" value="{{ bd.fine_amount }}/-"  readonly>
                        </div>
                        </div>
                    </div>
                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">Damage Charges</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="damage_charges" value="{{ bd.damage_amount }}/-"  readonly>
                        </div>
                        </div>
                    </div>
                    <div class="form-group has-dark">
                        <label class="col-sm-2 control-label">Total Fine</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="fine" value="{{ bd.total_fine }}/-"  readonly>
                        </div>
                        </div>
                    </div>

                    {% if bd.security_amount < bd.total_fine %}
                    <div class="form-group has-error">
                        <label class="col-sm-2 control-label">Remaining Payment</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="balance" value="{{ bd.balance_amount }}/-"  readonly>
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
									<label for="selector1" class="col-sm-2 control-label">Payment Method</label>
									<div class="col-sm-5">
                                    <select name="selector1" id="selector1" class="form-control1">

										<option name="pay" value="0">Paypal</option>
                                        <option name="pay" value="0">Credit CArd</option>
                                        <option name="pay" value="0">Debit CArd</option>
                                        <option name="pay" value="0">Netbanking</option>


									</select>
                                    </div>
								</div>
                    {% else %}
                    <div class="form-group has-warning">
                        <label class="col-sm-2 control-label">Refund Amount</label>
                        <div class="col-sm-5">
                            <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-rupee"></i>
												</span>
                            <input type="text" class="form-control1" name="balance" value="{{ bd.balance_amount }}/-"  readonly>
                        </div>
                        </div>
                    </div>
                    <div class="form-group has-success">
									<label for="selector1" class="col-sm-2 control-label">Refund Method</label>
									<div class="col-sm-5">
                                    <select name="selector1" id="selector1" class="form-control1">

										<option name="pay" value="0">Paypal</option>
                                        <option name="pay" value="0">Credit CArd</option>
                                        <option name="pay" value="0">Debit CArd</option>
                                        <option name="pay" value="0">Netbanking</option>


									</select>
                                    </div>
								</div>
                    {% endif %}


                    <div class="form-group has-success">
                        <div class="control-label col-sm-6">
                            <button  type="submit" class="btn btn-primary"> Confirm Return</button>
                        </div>
                    </div>

                </form> </div>
        </div>
    </div>
</div>

<!--script type="text/javascript">

var a = document.getElementById("start_date");
var b = document.getElementById("end_date");
if(a.value == b.value){
$(function () {
        $('#start_time').datetimepicker({
        format : "HH:mm:ss"
        });
        $('#end_time').datetimepicker({
            format : "HH:mm:ss"

        });
        $("#start_time").on("dp.change", function (e) {
            $('#end_time').data("DateTimePicker").minDate(e.date);
        });
        $("#end_time").on("dp.change", function (e) {
            $('#start_time').data("DateTimePicker").maxDate(e.date);
        });
    });
}
else{
$(function () {
                $('#start_time,#end_time').datetimepicker({
                    format: 'hh:mm:00'
                });
            });
}




        </script-->
<script>


    $(function () {
    $('#start_time,#end_time').datetimepicker({
        sideBySide: true,
        format:"YYYY-MM-DD HH:mm:ss",
        stepping : 15
    });
});
</script>




{% endblock %}



