{% extends "admin_master.html" %}
{% block content %}
    <div id="page-wrapper">
			<div class="main-page">
                    <div class="row">
						<h3 class="title1">Change Password</h3>
						<div class="form-three widget-shadow">
							<form data-toggle="validator" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                     <div class="form-body">

                                         {% csrf_token %}

										<div class="form-group has-feedback">
                                        {% if invalidotp %}
                                                <p>Otp Doesn't Match</p>
                                            {% endif %}
                                            <input type="text" class="form-control " id="otp" name="curr_otp" placeholder="Enter OTP" required>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            {% if invalidpwd %}
                                                <p>Password Doesn't Match</p>
                                            {% endif %}
											<input type="password" class="form-control" id="password" name="password" placeholder="Current Password" required>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>

                                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                                   required>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm New Password" required>
											<span class="glyphicon form-control-feedback" aria-hidden="true"></span>

										</div>

										<div class="bottom col-lg-4">
											<div class="form-group">

												<button type="submit" class="btn btn-primary">Update </button>
											</div>
										</div>
                                        {% if invalidtime %}
                                                <script>alert("OTP expired")</script>
                                            {% endif %}

    </div></form></div></div></div></div>
    <script>
    var password = document.getElementById("new_password");
   var confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;</script>
{% endblock %}

<script>
    var password = document.getElementById("new_password");
   var confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;</script>